/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.social-icons li {
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-family: FontAwesome;
  position: relative; }
.social-icons li::before {
  left: 50%;
  position: absolute; }
.social-icons .facebook::before {
  content: '\f09a';
  left: 33%; }
.social-icons .rss::before {
  content: '\f09e';
  left: 29%; }
.social-icons .twitter::before {
  content: '\f099';
  left: 24%; }
.social-icons .youtube::before {
  content: '\f167';
  left: 25%; }
.social-icons.large {
  font-size: 35px;
  line-height: 60px;
  vertical-align: middle; }
  .social-icons.large li {
    height: 60px;
    width: 60px; }
  .social-icons.large li::before {
    line-height: 60px; }
  .social-icons.large .facebook {
    background-color: #435996; }
  .social-icons.large .rss {
    background-color: #cc9031; }
  .social-icons.large .twitter {
    background-color: #698dc6; }
  .social-icons.large .youtube {
    background-color: #b1372d; }
  .social-icons.large::before {
    content: '\e235';
    font-family: 'Glyphicons Halflings'; }
.social-icons.small {
  font-size: 18px; }
  .social-icons.small li {
    height: 30px;
    width: 30px; }
  .social-icons.small li::before {
    line-height: 30px; }
  .social-icons.small .facebook {
    background-color: #6d6d6d; }
  .social-icons.small .rss {
    background-color: #7f7f7f; }
  .social-icons.small .twitter {
    background-color: #989898; }
  .social-icons.small .youtube {
    background-color: #6f6f6f; }

body {
  background: url("../images/sk8-bg.jpg") center center fixed;
  background-color: #000;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif; }

.social-top {
  padding-top: 6px; }
  .social-top .subscribe input,
  .social-top .subscribe button {
    display: none; }
  .social-top .subscribe label::after {
    content: '\00ba'; }
  .social-top ul {
    text-align: right; }

.top-nav {
  padding-bottom: 4px;
  padding-top: 16px;
  text-align: center; }
  .top-nav .top-nav-item {
    color: #fff; }
  .top-nav span {
    background-color: #b2292e;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
    display: block;
    line-height: 44px; }
    .top-nav span::before {
      margin-right: 15px; }
    .top-nav span::after {
      margin-left: 15px; }
    .top-nav span::before, .top-nav span::after {
      content: '-';
      display: inline-block; }

.slider {
  padding-top: 17px;
  text-align: center; }
  .slider .hidden {
    display: none; }
  .slider li {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
    display: block; }
  .slider input[type='radio'] {
    border-radius: 20px;
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5); }
  .slider .slider-buttons {
    padding-top: 22px; }

.articles {
  padding-top: 26px; }

.article {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5); }

.boarders {
  padding-top: 37px; }

.boarder {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
  display: block;
  margin-top: 10px; }

.boarder-img {
  background-size: cover; }

.lance {
  background: url("../images/lance.jpg") center center no-repeat;
  height: 222px; }

.rodney {
  background: url("../images/rodney.jpg") center center no-repeat;
  height: 222px; }

.steve {
  background: url("../images/steve.jpg") center center no-repeat;
  height: 222px; }

.tommy {
  background: url("../images/tommy.jpg") center center no-repeat;
  height: 444px; }

.skateboards {
  padding-top: 37px;
  text-align: center; }
  .skateboards img {
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5); }

.contact-form {
  margin-bottom: 50px;
  padding-top: 31px; }

.contact-text,
.c-form {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.5);
  height: 360px;
  padding-top: 33px; }

.c-form input {
  line-height: 38px; }
.c-form input:not([type=submit]) {
  border: 1px solid #949494;
  box-shadow: inset 3px 3px 0 0 #b2b2b2;
  margin-bottom: 17px;
  padding: 0 13px;
  width: 100%; }
.c-form input[type=submit] {
  background-color: #b2292e;
  color: #fff;
  float: right;
  width: 50%; }

/*# sourceMappingURL=style.css.map */
