/*------------------------------------------------------------------------------
                                RESET CSS
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------------------------------------------------
                                START SASS
------------------------------------------------------------------------------*/
.social-icons li {
  display: inline-block;
  position: relative;
  box-shadow: 0px 4px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-family: FontAwesome;
  color: rgba(255, 255, 255, 0.5); }
.social-icons li::before {
  position: absolute;
  left: 50%; }
.social-icons .facebook::before {
  content: "\f09a";
  left: 33%; }
.social-icons .rss::before {
  content: "\f09e";
  left: 29%; }
.social-icons .twitter::before {
  content: "\f099";
  left: 24%; }
.social-icons .youtube::before {
  content: "\f167";
  left: 25%; }

.social-icons.large {
  font-size: 35px;
  line-height: 60px;
  vertical-align: middle; }
  .social-icons.large li {
    width: 60px;
    height: 60px; }
  .social-icons.large li::before {
    line-height: 60px; }
  .social-icons.large .facebook {
    background-color: #435996; }
  .social-icons.large .rss {
    background-color: #cc9031; }
  .social-icons.large .twitter {
    background-color: #698dc6; }
  .social-icons.large .youtube {
    background-color: #b1372d; }
  .social-icons.large::before {
    content: "\e235";
    font-family: 'Glyphicons Halflings'; }

.social-icons.small {
  font-size: 18px; }
  .social-icons.small li {
    width: 30px;
    height: 30px; }
  .social-icons.small li::before {
    line-height: 30px; }
  .social-icons.small .facebook {
    background-color: #6d6d6d; }
  .social-icons.small .rss {
    background-color: #7f7f7f; }
  .social-icons.small .twitter {
    background-color: #989898; }
  .social-icons.small .youtube {
    background-color: #6f6f6f; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  background: url(../images/sk8-bg.jpg) center center fixed;
  background-size: cover; }

.social-top {
  padding-top: 6px; }
  .social-top .subscribe input, .social-top .subscribe button {
    display: none; }
  .social-top .subscribe label:after {
    content: "\00ba"; }
  .social-top ul {
    text-align: right; }

.top-nav {
  padding-top: 16px;
  padding-bottom: 4px;
  text-align: center; }
  .top-nav .top-nav-item {
    color: white; }
  .top-nav span {
    display: block;
    line-height: 44px;
    box-shadow: 0px 4px rgba(255, 255, 255, 0.5);
    background-color: #b2292e; }
    .top-nav span::before {
      margin-right: 15px; }
    .top-nav span::after {
      margin-left: 15px; }
    .top-nav span::before, .top-nav span::after {
      content: "-";
      display: inline-block; }

.slider {
  padding-top: 17px;
  text-align: center; }
  .slider .hidden {
    display: none; }
  .slider li {
    display: block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: 0px 4px rgba(255, 255, 255, 0.5); }
  .slider input[type="radio"] {
    box-shadow: 0px 4px rgba(255, 255, 255, 0.5);
    border-radius: 20px; }
  .slider .slider-buttons {
    padding-top: 22px; }

.articles {
  padding-top: 26px; }

.article {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px rgba(255, 255, 255, 0.5); }

.boarders {
  padding-top: 37px; }

.boarder {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  box-shadow: 0px 4px rgba(255, 255, 255, 0.5); }

.boarder-img {
  background-size: cover; }

.lance {
  height: 222px;
  background: url(../images/lance.jpg) center center no-repeat; }

.rodney {
  height: 222px;
  background: url(../images/rodney.jpg) center center no-repeat; }

.steve {
  height: 222px;
  background: url(../images/steve.jpg) center center no-repeat; }

.tommy {
  height: 444px;
  background: url(../images/tommy.jpg) center center no-repeat; }

.skateboards {
  padding-top: 37px;
  text-align: center; }
  .skateboards img {
    box-shadow: 0px 4px rgba(255, 255, 255, 0.5); }

.contact-form {
  padding-top: 31px;
  margin-bottom: 50px; }

.contact-text, .c-form {
  height: 360px;
  box-shadow: 0px 4px rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.9);
  padding-top: 33px; }

.c-form input {
  line-height: 38px; }
.c-form input:not([type=submit]) {
  width: 100%;
  box-shadow: inset 3px 3px 0px 0px #b2b2b2;
  padding: 0px 13px;
  border: 1px solid #949494;
  margin-bottom: 17px; }
.c-form input[type=submit] {
  color: white;
  background-color: #b2292e;
  float: right;
  width: 50%; }

/*# sourceMappingURL=style.css.map */
