//------------------------------------------------------------------------------
//                                RESET CSS
//------------------------------------------------------------------------------
// sass --watch scss/main.scss:css/style.css


@import 'reset';

// /* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: ( 1024px + $grid-gutter-width );
// /* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//------------------------------------------------------------------------------
//                                START SASS
//------------------------------------------------------------------------------/
$font-family: Helvetica, Arial, sans-serif;
$box-shadow: 0 4px 0 0 rgba(255, 255, 255, .5);
$light-text-color: #fff;
$social-icon-color: rgba(255, 255, 255, .5);
$opacity-bg-color: rgba(255, 255, 255, .9);
$button-bg-color: rgba(178, 41, 46, 1);
$facebook-color: rgba(67, 89, 150, 1);
$rss-color: rgba(204, 144, 49, 1);
$twitter-color: rgba(105, 141, 198, 1);
$youtube-color: rgba(177, 55, 45, 1);
$icon-size: 60px;
$icon-font-size: 36px;
$row-height: 222px;
$arrow-height: 96px;
$bull-col-size: 4px;
$title-color: rgba(56, 55, 53, 1);
$read-more-font: 13px;
$bracket-offset: 79px;
$radio-label-size: 16px;
$radio-dot-size: $radio-label-size * .375;
$input-height: 44px;

@mixin picture-border () {
  padding: 5px;
  background-color: $opacity-bg-color;
  text-align: center;
}

@mixin button-style () {
  background-color: $button-bg-color;
  box-shadow: $box-shadow;
  color: $light-text-color;
}

@mixin title-style () {
	font-size: 25px;
	color: $title-color;
	margin: 20px 0 0 0;
	padding: 0;
}
@mixin input-field () {
	height: $input-height;
	border: 1px solid rgba(148, 148, 148, 1);
	box-shadow: inset 3px 3px 0 0 rgba(178, 178, 178, 1);
}

@mixin button-backgrounds ( $color ) {
	background-color: $color;
	&:hover {
		background-color: lighten($color, 25%);
	}
	&:active {
		background-color: darken($color, 10%);
		padding-top: 4px;
	}
}
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

.clearfix {
	overflow: auto;
}
img {
	max-width: 100%;
}

.container {
	position: relative;
}

.social-icons {
	margin: 0;

  li {
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $social-icon-color;
    display: inline-block;
    font-family: FontAwesome;
    position: relative;
  }

  li::before {
    left: 50%;
    position: absolute;
  }

  .facebook::before { content: '\f09a'; left: 33%; }

  .rss::before {  content: '\f09e'; left: 29%; }

  .twitter::before {  content: '\f099'; left: 24%; }

  .youtube::before { content: '\f167'; left: 25%; }

  &.large {
		float: right;
    font-size: 35px;
    vertical-align: middle;

    li {
      height: $icon-size;
      width: $icon-size;
    }

    li::before {
      line-height: $icon-size;
    }

    .facebook { @include button-backgrounds ( $facebook-color ); }

    .rss { @include button-backgrounds ( $rss-color ); }

    .twitter { @include button-backgrounds ( $twitter-color ) }

    .youtube { @include button-backgrounds ( $youtube-color ) }

  }

  &.small {
    font-size: $icon-font-size / 2;

    li {
      height: $icon-size / 2;
      width: $icon-size / 2;
    }

    li::before {
      line-height: $icon-size / 2;
    }

    .facebook { background-color: grayscale($facebook-color);}

    .rss { background-color: grayscale($rss-color); }

    .twitter { background-color: grayscale($twitter-color); }

    .youtube { background-color: grayscale($youtube-color); }

  }
}

.bull-col {
	display: inline-block;
	float: right;
	line-height: $bull-col-size;
	// margin-left: 47px;
	// margin-right: 11px;
	// margin-top: 11px;
	margin: 11px 11px 0 50px;
	width: $bull-col-size;

	li {
		content: '';
		display: inline-block;
		width: $bull-col-size;
		height: $bull-col-size;
		background: $light-text-color;
		border-radius: $bull-col-size / 2;
		margin: 0;
		padding: 0;
	}
}
body {
  background: url('../images/bg.jpg') center center fixed;
  background-color: #000;
  background-size: cover;
  font-family: $font-family;
	position: relative;

	.overlay {
		background: #000 fixed;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .5;
	}
}

.social-top {
  padding-top: 6px;
	line-height: 44px;

	#sub-open {
		display: none;
	}

	.subscribe {
		text-align: left;
		color: $light-text-color;
		position: relative;

		& > * {
			cursor: pointer;
			cursor: hand;

			&:hover, &:active{
				cursor: pointer;
				cursor: hand;
			}
		}

		&:hover, &:active{
			label {
				border-top: 4px solid $button-bg-color;
				border-right: 4px solid $button-bg-color;
				background-color: $light-text-color;
				color: $title-color;

				&::after {
					content: '\25C0';
				}
			}
		}

		label {
			margin: 10px 0 7px 36px;
			padding: 0 1.5rem;
			font-weight: lighter;
			font-size: 13px;
			display: inline-block;
			transition: .1s ease-in-out;

			&::after {
				content: '\2022';
				font-size: 10px;
				margin-left: 14px;
			}
		}

		input[type='checkbox'] {
			display: block;
	  }

		input[type="checkbox"]:checked {
			& ~ div{
				display: inline-block;
				opacity: 1;
				width: 300px;
			}
		}
	}

  ul {
    text-align: right;
  }

}
.control-me {
	text-align: center;
	display: none;
	opacity: 0;
	transition: .25s ease-in;
	line-height: 1.5rem;
	position: absolute;
	top: 1.75rem;
	right: 105.5%;
	width: 0;

	input, button {
		display: block;
		float: left;
	}
	input {
		@include input-field;
		width: 80%;
		padding: .6rem 0 .1rem 1.5rem;
		height: 3rem;
		color: rgb(51, 51, 51);
	}
	button {
		@include button-style;
		box-shadow: none;
		width: 20%;
		height: 3rem;

		&::after {
			font-family: FontAwesome;
			content: '\f00c';
			position: relative;
			top: 0;
			left: 0;
		}
	}
}

.top-nav {
  padding-bottom: 4px;
  padding-top: 10px;
  text-align: center;
	line-height: 40px;
	font-size: 17px;

  span {

  }

}
.top-nav-item {
	@include button-style;
	@include button-backgrounds( $button-bg-color );
	position: relative;

	&::before {
		left: 20px;
	}

	&::after {
		right: 20px;
	}

	&::before,
	&::after {
		content: '';
		border-top: 3px solid $light-text-color;
		width: 16px;
		position: absolute;
		top: 49%;
	}
}
.slider-holder {
	@include picture-border;
	padding: 10px;
	box-shadow: $box-shadow;
}

.slider-clip {
	position: relative;
	height: 337px;
	overflow: hidden;
}

.grid-overlay {
	background: url('../images/grid.png') center center;
	opacity: .25;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.powell-overlay{
	background: url('../images/peralta-logo.png') center center no-repeat;
	position: absolute;
	width: 410px;
	height: 237px;
	top: 55px;
	left: 28px;
}
.slider {
  padding-top: 17px;
  text-align: center;

  .hidden {
    display: none;
  }

	form {
		margin-left: 1.25%;
	}
  input[type='radio'] {
		display: none;
  }

	label{
	    display:inline-block;
	    width: $radio-label-size;
	    height: $radio-label-size;
	    background: white;
			border-radius: $radio-label-size / 2;
			position: relative;
			box-shadow: $box-shadow;
			margin-left: 10px;
	}

	input[type="radio"]:checked {
		& + label::before {
				content: '';
		    display:inline-block;
		    width: $radio-dot-size;
		    height: $radio-dot-size;
				background: red;
				border-radius: $radio-dot-size / 2;
				position: absolute;
				top: percentage( .5 - ( strip-unit($radio-dot-size) / ( 2 * strip-unit($radio-label-size ) ) ) );
				left: percentage( .5 - ( strip-unit($radio-dot-size) / ( 2 * strip-unit($radio-label-size ) ) ) );
		}

	}

  .slider-buttons {
    padding-top: 25px;
  }
}

.articles {
  padding-top: 18px;
}

.article {
	padding: 7px 40px 16px 26px;
  background: $opacity-bg-color;
  box-shadow: $box-shadow;

	h1 {
		@include title-style;
	}

}

.article-overflow {
	height: 300px;
	overflow: hidden;
}

.article-date {
	color: rgba(186, 186, 186, 1);
	font-size: 12px;
	line-height: 12px;
	padding: 22px 0 17px 0;
}

.article-text {
	color: rgba(81, 81, 81, 1);
	font-size: 13px;
	line-height: 24px;
}

.read-more-btn {
	color: $button-bg-color;
	display: block;
	text-align: center;
	font-size: $read-more-font;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 14px;
	margin-top: 9px;
	position: relative;

	&::before, &::after {
		font-size: $read-more-font - 1px;
		position: absolute;
	}

	&::before {
		content: '[';
		left: $bracket-offset;
	}

	&::after {
		content: ']';
		right: $bracket-offset;
	}
}
.boarders {
  padding-top: 31px;
}

.boarder {
  @include picture-border;
  box-shadow: $box-shadow;
  display: block;
  margin-top: 10px;
}

.boarder-holder {
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -500px;
}
.boarder-img {
  display: block;
	margin: 0 auto;
}

.arrow-anchor {
	position: relative;
}

.arrow {
	@include button-style;
	position: absolute;
	height: $arrow-height;
	line-height: $arrow-height;
	width: 267px;
	left: -327px;
	top: 64px;

	&::after {
		left: 100%;
		top: 0;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-left-color: $button-bg-color;
		border-width: $arrow-height / 2;
		// box-shadow: $box-shadow;
	}
}
.lance, .rodney, .steve, .tommy {
	overflow: hidden;
	position: relative;

	span {
		color: $light-text-color;
		font-weight: bold;
		position: absolute;
		text-transform: uppercase;
		width: 80%;
		font-size: $icon-font-size * 1.2;
		line-height: $icon-font-size * 1.333;
	}
}

.lance {
  height: $row-height;
	.boarder-holder {
		top: -13px;
		margin-left: -554px;
	}
	span {
		left: 10%;
		top: 31%;
	}
}

.rodney {
  height: $row-height;
	.boarder-holder {
		top: -10px;
		margin-left: -452px;
	}
	span {
		left: 10%;
		top: 31%;
	}
}

.steve {
  height: $row-height;
	.boarder-holder {
		top: -100px;
		margin-left: -483px;
	}
	span {
		left: 12%;
		top: 36%;
	}
}

.tommy {
  height: ( $row-height * 2 ) + ( $grid-gutter-width * 2 );
	.boarder-holder {
		top: 0;
		margin-left: -640px;
	}
	span {
		left: 10%;
		top: 40%;
	}
}

.skateboards {
  padding-top: 31px;
  text-align: center;

}

.skateboard-holder {
	background: $light-text-color;
	box-shadow: $box-shadow;
	padding: 12px 13px 23px 10px;

	li{
		display: inline-block;
		float: left;
		width: 10%;
		padding: 0 5px;
	}
}

.contact-holder {
	background: $opacity-bg-color;
  box-shadow: $box-shadow;
	height: 360px;
	padding: 12px 10px 0 10px;
	margin-bottom: 30px;
  margin-top: 35px;
	clear: both;
}

.contact-text {
	padding-left: 30px;

	h3 {
		@include title-style;
	}
}

.contact-text-text {
	margin: 14px 0 22px 0;
	color: rgba(82, 82, 82, 1);
	line-height: 28px;
	font-size: 16px;
}
.main-contact {
	clear: both;
}

.c-form {
	margin-top: 20px;
	padding-right: 19px;
	padding-left: 43px;
	clear: both;


  input {
    @include input-field;

		&[type="textarea"] {
			height: ( $input-height * 2.6 ) - 7;
		}
  }

  input:not([type=submit]) {
    margin-bottom: 17px;
    padding: 0 13px;
    width: 100%;
  }

  input[type=submit] {
    @include button-style;
    box-shadow: none;
    float: right;
    width: 57%;
		margin-top: 10px;
		font-size: 16px;
  }
}
