//------------------------------------------------------------------------------
//                                RESET CSS
//------------------------------------------------------------------------------
// sass --watch scss/main.scss:css/style.css

@import 'reset';

//------------------------------------------------------------------------------
//                                START SASS
//------------------------------------------------------------------------------/
$font-family: Helvetica, Arial, sans-serif;
$box-shadow: 0 4px 0 0 rgba(255, 255, 255, .5);
$light-text-color: #fff;
$social-icon-color: rgba(255, 255, 255, .5);
$opacity-bg-color: rgba(255, 255, 255, .9);
$button-bg-color: rgba(178, 41, 46, 1);
$facebook-color: rgba(67, 89, 150, 1);
$rss-color: rgba(204, 144, 49, 1);
$twitter-color: rgba(105, 141, 198, 1);
$youtube-color: rgba(177, 55, 45, 1);
$icon-size: 60px;
$icon-font-size: 36px;
$row-height: 222px;

@mixin picture-border () {
  padding: 10px;
  background-color: $opacity-bg-color;
  text-align: center;
}

.social-icons {
  li {
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $social-icon-color;
    display: inline-block;
    font-family: FontAwesome;
    position: relative;
  }

  li::before {
    left: 50%;
    position: absolute;
  }

  .facebook::before { content: '\f09a'; left: 33%; }

  .rss::before {  content: '\f09e'; left: 29%; }

  .twitter::before {  content: '\f099'; left: 24%; }

  .youtube::before { content: '\f167'; left: 25%; }

  &.large {
    font-size: 35px;
    line-height: $icon-size;
    vertical-align: middle;

    li {
      height: $icon-size;
      width: $icon-size;
    }

    li::before {
      line-height: $icon-size;
    }

    .facebook { background-color: $facebook-color;}

    .rss { background-color: $rss-color; }

    .twitter { background-color: $twitter-color; }

    .youtube { background-color: $youtube-color; }

    &::before {
      content: '\e235';
      font-family: 'Glyphicons Halflings';
    }
  }

  &.small {
    font-size: $icon-font-size / 2;

    li {
      height: $icon-size / 2;
      width: $icon-size / 2;
    }

    li::before {
      line-height: $icon-size / 2;
    }

    .facebook { background-color: grayscale($facebook-color);}

    .rss { background-color: grayscale($rss-color); }

    .twitter { background-color: grayscale($twitter-color); }

    .youtube { background-color: grayscale($youtube-color); }

  }
}




body {
  background: url('../images/sk8-bg.jpg') center center fixed;
  background-color: #000;
  background-size: cover;
  font-family: $font-family;
}

.social-top {
  padding-top: 6px;

  .subscribe input,
	.subscribe button {
    display: none;
  }

  .subscribe label::after {
    content: '\00ba';
  }

  ul {
    text-align: right;
  }

}

.top-nav {
  padding-bottom: 4px;
  padding-top: 16px;
  text-align: center;

  .top-nav-item {
    color: $light-text-color;
  }

  span {
  	background-color: $button-bg-color;
    box-shadow: $box-shadow;
    display: block;
    line-height: 44px;

    &::before {
      margin-right: 15px;
    }

    &::after {
      margin-left: 15px;
    }

    &::before,
    &::after {
      content: '-';
      display: inline-block;
    }

  }

}

.slider {
  padding-top: 17px;
  text-align: center;

  .hidden {
    display: none;
  }

  li {
    @include picture-border;
    box-shadow: $box-shadow;
    display: block;
  }

  input[type='radio'] {
    border-radius: 20px;
    box-shadow: $box-shadow;
  }

  .slider-buttons {
    padding-top: 22px;
  }
}

.articles {
  padding-top: 26px;
}

.article {
  background: $opacity-bg-color;
  box-shadow: $box-shadow;
}

.boarders {
  padding-top: 37px;
}

.boarder {
  @include picture-border;
  box-shadow: $box-shadow;
  display: block;
  margin-top: 10px;
}

.boarder-img {
  background-size: cover;
}

.lance {
  background: url('../images/lance.jpg') center center no-repeat;
  height: $row-height;
}

.rodney {
  background: url('../images/rodney.jpg') center center no-repeat;
  height: $row-height;
}

.steve {
  background: url('../images/steve.jpg') center center no-repeat;
  height: $row-height;
}

.tommy {
  background: url('../images/tommy.jpg') center center no-repeat;
  height: $row-height * 2;
}

.skateboards {
  padding-top: 37px;
  text-align: center;

  img {
    box-shadow: $box-shadow;
  }

}

.contact-form {
  margin-bottom: 50px;
  padding-top: 31px;
}

.contact-text,
.c-form {
  background: $opacity-bg-color;
  box-shadow: $box-shadow;
  height: 360px;
  padding-top: 33px;
}

.c-form {

  input {
    line-height: 38px;
  }

  input:not([type=submit]) {
    border: 1px solid rgba(148, 148, 148, 1);
    box-shadow: inset 3px 3px 0 0 rgba(178, 178, 178, 1);
    margin-bottom: 17px;
    padding: 0 13px;
    width: 100%;
  }

  input[type=submit] {
    background-color: $button-bg-color;
    color: $light-text-color;
    float: right;
    width: 50%;
  }
}
