//------------------------------------------------------------------------------
//                                RESET CSS
//------------------------------------------------------------------------------
// sass --watch scss/main.scss:css/style.css

@import 'reset';

// /* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: ( 1024px + $grid-gutter-width );
// /* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

//------------------------------------------------------------------------------
//                                START SASS
//------------------------------------------------------------------------------/
$font-family: Helvetica, Arial, sans-serif;
$box-shadow: 0 4px 0 0 rgba(255, 255, 255, .5);
$light-text-color: #fff;
$social-icon-color: rgba(255, 255, 255, .5);
$opacity-bg-color: rgba(255, 255, 255, .9);
$button-bg-color: rgba(178, 41, 46, 1);
$facebook-color: rgba(67, 89, 150, 1);
$rss-color: rgba(204, 144, 49, 1);
$twitter-color: rgba(105, 141, 198, 1);
$youtube-color: rgba(177, 55, 45, 1);
$icon-size: 60px;
$icon-font-size: 36px;
$row-height: 222px;
$arrow-height: 96px;
$bull-col-size: 4px;
$title-color: rgba(56, 55, 53, 1);
$read-more-font: 13px;
$bracket-offset: 79px;

@mixin picture-border () {
  padding: 5px;
  background-color: $opacity-bg-color;
  text-align: center;
}

@mixin button-style () {
  background-color: $button-bg-color;
  box-shadow: $box-shadow;
  color: $light-text-color;
}

@mixin title-style () {
	font-size: 25px;
	color: $title-color;
	margin: 20px 0 0 0;
	padding: 0;
}

img {
	max-width: 100%;
};

.social-icons {
	margin: 0;

  li {
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $social-icon-color;
    display: inline-block;
    font-family: FontAwesome;
    position: relative;
  }

  li::before {
    left: 50%;
    position: absolute;
  }

  .facebook::before { content: '\f09a'; left: 33%; }

  .rss::before {  content: '\f09e'; left: 29%; }

  .twitter::before {  content: '\f099'; left: 24%; }

  .youtube::before { content: '\f167'; left: 25%; }

  &.large {
		float: left;
    font-size: 35px;
    vertical-align: middle;

    li {
      height: $icon-size;
      width: $icon-size;
    }

    li::before {
      line-height: $icon-size;
    }

    .facebook { background-color: $facebook-color;}

    .rss { background-color: $rss-color; }

    .twitter { background-color: $twitter-color; }

    .youtube { background-color: $youtube-color; }

  }

  &.small {
    font-size: $icon-font-size / 2;

    li {
      height: $icon-size / 2;
      width: $icon-size / 2;
    }

    li::before {
      line-height: $icon-size / 2;
    }

    .facebook { background-color: grayscale($facebook-color);}

    .rss { background-color: grayscale($rss-color); }

    .twitter { background-color: grayscale($twitter-color); }

    .youtube { background-color: grayscale($youtube-color); }

  }
}

.bull-col {
	display: inline-block;
	float: left;
	line-height: $bull-col-size;
	// margin-left: 47px;
	// margin-right: 11px;
	// margin-top: 11px;
	margin: 11px 11px 0 50px;
	width: $bull-col-size;

	li {
		content: '';
		display: inline-block;
		width: $bull-col-size;
		height: $bull-col-size;
		background: $light-text-color;
		border-radius: $bull-col-size / 2;
		margin: 0;
		padding: 0;
	}
}
body {
  background: url('../images/bg.jpg') center center fixed;
  background-color: #000;
  background-size: cover;
  font-family: $font-family;
}

.social-top {
  padding-top: 6px;
	line-height: 44px;

	.subscribe {
		text-align: left;
		color: $light-text-color;

		label {
			margin: 10px 0 7px 36px;
			font-weight: lighter;
			font-size: 13px;

			&::after {
				content: '\2022';
				font-size: 10px;
				margin-left: 14px;
			}
		}

	}
  .subscribe input,
  .subscribe button {
    display: none;
  }

  ul {
    text-align: right;
  }

}

.top-nav {
  padding-bottom: 4px;
  padding-top: 10px;
  text-align: center;
	line-height: 40px;
	font-size: 17px;

  span {

  }

}
.top-nav-item {
	@include button-style;
	position: relative;

	&::before {
		left: 20px;
	}

	&::after {
		right: 20px;
	}

	&::before,
	&::after {
		content: '';
		border-top: 3px solid $light-text-color;
		width: 16px;
		position: absolute;
		top: 49%;
	}
}

.slider {
  padding-top: 17px;
  text-align: center;

  .hidden {
    display: none;
  }

  li {
    @include picture-border;
    box-shadow: $box-shadow;
    display: block;
  }

  input[type='radio'] {
		display: none;
    border-radius: 20px;
    box-shadow: $box-shadow;
  }
	input[type="radio"] + label span {
	    display:inline-block;
	    width:20px;
	    height:20px;
	    background: black;
			position: relative;
	}
	input[type="radio"] + label span::before {
	    display:inline-block;
	    width:10px;
	    height:10px;
			position: absolute;
			top: 25%;
			left: 25%;
	    background: white;
	}
  .slider-buttons {
    padding-top: 13px;
  }
}

.articles {
  padding-top: 26px;
}

.article {
	padding: 7px 40px 18px 26px;
  background: $opacity-bg-color;
  box-shadow: $box-shadow;

	h1 {
		@include title-style;
	}

}

.article-overflow {
	height: 300px;
	overflow: hidden;
}

.article-date {
	color: rgba(186, 186, 186, 1);
	font-size: 12px;
	line-height: 12px;
	padding: 22px 0 17px 0;
}

.article-text {
	color: rgba(81, 81, 81, 1);
	font-size: 13px;
	line-height: 24px;
}

.read-more-btn {
	color: $button-bg-color;
	display: block;
	text-align: center;
	font-size: $read-more-font;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 14px;
	margin-top: 9px;
	position: relative;

	&::before, &::after {
		font-size: $read-more-font - 1px;
		position: absolute;
	}

	&::before {
		content: '[';
		left: $bracket-offset;
	}

	&::after {
		content: ']';
		right: $bracket-offset;
	}
}
.boarders {
  padding-top: 29px;
}

.boarder {
  @include picture-border;
  box-shadow: $box-shadow;
  display: block;
  margin-top: 10px;

	span {
		color: $light-text-color;
		font-weight: bold;
		position: absolute;
		text-transform: uppercase;
		width: 80%;
		left: 10%;
		top: 31%;
		font-size: $icon-font-size * 1.2;
		line-height: $icon-font-size * 1.39;
	}
}

.boarder-holder {
	width: 1000px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -500px;
}
.boarder-img {
  display: block;
	margin: 0 auto;
}

.arrow-anchor {
	position: relative;
}

.arrow {
	@include button-style;
	position: absolute;
	height: $arrow-height;
	line-height: $arrow-height;
	width: 267px;
	left: -327px;
	top: 64px;

	&::after {
		left: 100%;
		top: 0;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-left-color: $button-bg-color;
		border-width: $arrow-height / 2;
		// box-shadow: $box-shadow;
	}
}
.lance, .rodney, .steve, .tommy {
	overflow: hidden;
	position: relative;
}

.lance {
  height: $row-height;
}

.rodney {
  height: $row-height;
}

.steve {
  height: $row-height;
}

.tommy {
  height: ( $row-height * 2 ) + ( $grid-gutter-width * 2 );
}

.skateboards {
  padding-top: 37px;
  text-align: center;

  img {
    box-shadow: $box-shadow;
  }

}

.contact-form {
  margin-bottom: 50px;
  padding-top: 31px;
}

.contact-text,
.c-form {
  background: $opacity-bg-color;
  box-shadow: $box-shadow;
  height: 360px;
  padding-top: 33px;

	h3 {
		@include title-style;
	}
}

.c-form {

  input {
    line-height: 38px;
  }

  input:not([type=submit]) {
    border: 1px solid rgba(148, 148, 148, 1);
    box-shadow: inset 3px 3px 0 0 rgba(178, 178, 178, 1);
    margin-bottom: 17px;
    padding: 0 13px;
    width: 100%;
  }

  input[type=submit] {
    @include button-style;
    box-shadow: none;
    float: right;
    width: 50%;
  }
}
